//A settings file containing all the possible parameters and their defaults
// root name for image, other data is appended
image_name Image
// format of image file; options are png, svg, pdf, ps, eps, jpeg, gif, tiff
image_format png
// size of the image in pixels
image_size 1280 710 
// Background color for image
background_color white
// Color for titles, labels etc.
text_color black
// Display title above image; True or False
title_enabled True
// Text for plot title
title AttributeName
// Typeface for Title text
title_font Times
// Font size for title
title_font_size 18
// Font size for axis labels
label_font_size  12
// Color Map for main image
cmap hot_desaturated
// Units for time; seconds, s, milliseconds, ms
time_format seconds
// Display elapsed time of model, from onset of collapse.
elapsed_time_enabled True
// Display time after bounce
bounce_time_enabled True
// Display file creation time
ctime_enabled True
// Display colorbar? True or False
cbar_enabled True
// Placement of color bar 
cbar_location right
// Width of color bar in pixels; number
cbar_width 5.0
// Color bar scale; log, lin, simlog
cbar_scale lin
// Color bar minimum value; number or 'auto'
cbar_domain_min auto
// Color bar maximum value; number or 'auto'
cbar_domain_max auto
// Color to display values above color bar range, same as top of color bar fs not set.
cbar_over_color hotpink
// Color to display values below color bar range, same as bottom of color bar if not set.
cbar_under_color hotpink
// Color to display bad values (NaN, etc.), same as background if not set.
cbar_bad_color black
// Apply smoothing to image
smooth_zones False
// Range for X axis in km; 'auto' or pair of numbers (lower limit upper limit)
x_range_km auto auto
// Range for Y axis in km; 'auto' or pair of numbers (lower limit upper limit)
y_range_km auto auto
// percentage of total range to use if the x or y range is set to auto; 
zoom_value 1.0
// X axis label
x_range_label 'X (10^3 km)'
// Y axis label
y_range_label Y (10^3 km)
// Units label for plotted variable (not implemented)
var_unit auto
// Displays a line denoting the shock radius
swr_enabled False
// Allows the user to customize the style of the shock radius line
swr_linestyle solid
// Allows the user to add a legend denoting the shock radius to the plot
legend_enabled False
// Generates a contur of the nse_boundary when set to 'True'
nse_c_contour False
// Allows the user to select the thickness of the nse contour lines
nse_c_line_widths 4
// Allows the user to select the colormap used for the nse_contour
nse_cmap binary
// Allows the user to customize the style of the nse boundary line
nse_c_linestyles solid
// Allows the user to select the thickness of the displayed shock radius line
swr_line_width 7
// Allows the user to select the color of the displayed shock line
swr_line_color k
// Allows the user to overlay a plot of tracer particles
particle_overlay False
// Allows the user to select the color of the overlain particles
particle_color k
// Allows the user to customize the size of the overlain particles
particle_size 0.7
// Allows the user to plot he tracer particles as integers denoting their identity
particle_numbers False
// Allows the user to select the size of the displaed integers in the user enables the previous feature
particle_num_size 5
// Displays a detailed 2-D shock contour denoting the presence of all detected shocks
shock_contour_enabled False
// Allows the user to customize the thickness of the 2-D shock contour
shock_contour_line_widths 4
// Allows the user to select the colormap to use for the 2-D shock contour
shock_contour_cmap binary_r
// Allows the user to select the linestyle of the 2-D shock contour
shock_contour_style solid
