//A settings file containing all the possible parameters and their defaults
// root name for image, other data is appended
image_name Image
// format of image file; options are png, svg, pdf, ps, eps, jpeg, gif, tiff
image_format png
// size of the image in pixels
image_size 1280 710 
// Background color for image
background_color white
// Color for titles, labels etc.
text_color black
// Display title above image; True or False
title_enabled True
// Text for plot title
title AttributeName
// Typeface for Title text
title_font Times
// Font size for title
title_font_size 18
// Font size for axis labels
label_font_size  12
// Color Map for main image
cmap hot_desaturated
// Units for time; seconds, s, milliseconds, ms
time_format seconds
// Display elapsed time of model, from onset of collapse.
elapsed_time_enabled True
// Display time after bounce
bounce_time_enabled True
// Display file creation time
ctime_enabled True
// Display colorbar? True or False
cbar_enabled True
// Placement of color bar 
cbar_location right
// Width of color bar in pixels; number
cbar_width 5.0
// Color bar scale; log, lin, simlog
cbar_scale lin
// Color bar minimum value; number or 'auto'
cbar_domain_min auto
// Color bar maximum value; number or 'auto'
cbar_domain_max auto
// Color to display values above color bar range, same as top of color bar fs not set.
cbar_over_color hotpink
// Color to display values below color bar range, same as bottom of color bar if not set.
cbar_under_color hotpink
// Color to display bad values (NaN, etc.), same as background if not set.
cbar_bad_color black
// Apply smoothing to image
smooth_zones False
// Range for X axis in km; 'auto' or pair of numbers (lower limit upper limit)
x_range_km auto auto
// Range for Y axis in km; 'auto' or pair of numbers (lower limit upper limit)
y_range_km auto auto
// percentage of total range to use if the x or y range is set to auto; 
zoom_value 1.0
// X axis label
x_range_label 'X (10^3 km)'
// Y axis label
y_range_label Y (10^3 km)
// Units label for plotted variable (not implemented)
var_unit auto
swr_enabled False
swr_linestyle solid
legend_enabled False
nse_c_contour False
nse_c_line_widths 4
nse_cmap binary
nse_c_linestyles solid
swr_line_width 7
swr_line_color k
particle_overlay False
particle_color k
particle_size 0.7
