title "Plot of \\var"
// title_font_size 20
// cmap viridis
variable Abundance/He4
// zoom_value .013
cbar_width 3
image_name Current
// cbar_location bottom
// background_color grey
// cbar_scale log
// cbar_enabled False
// cbar_domain_min 1
// cbar_domain_max 1e-6
// bounce_time_enabled False
// elapsed_time_enabled False
// ctime_enabled False
image_format png
x_range_km -45000 45000
y_range_km 0 45000
// shock_enabled True
legend_enabled True
shock_line_width 7
shock_line_color k
shock_linestyle solid
nse_c_contour True
nse_c_line_widths 2.1
// nse_cmap winter
nse_c_linestyles dotted
particle_overlay True
particle_color w
particle_size .4
particle_numbers True
particle_num_size 5
// shock_contour_enabled True
// shock_contour_line_widths 2
// shock_contour_cmap binary_r
// shock_contour_style solid
