//A settings file containing all the possible parameters and their defaults
cmap hot_desaturated
background_color white
text_color black
cbar_scale lin
cbar_domain_min 'auto'
cbar_domain_max 'auto'
cbar_enabled True
cbar_location right
cbar_width 5.0
cbar_over_color hotpink
cbar_under_color hotpink
cbar_bad_color black
title AttributeName
variable None
image_name Image
title_enabled True
title_font auto
title_font_size 18
label_font_size 
smooth_zones False
image_format png
image_size [1280,710]
x_range_km 'auto'
y_range_km 'auto'
x_range_label X (10^3 km)
y_range_label Y (10^3 km)
time_format seconds
bounce_time_enabled True
ctime_enabled True
elapsed_time_enabled True
zoom_value 1./90
var_unit 'auto'
shock_enabled False
shock_linestyle solid
shock_line_width 7
shock_line_color black
legend_enabled False
nse_c_contour False
nse_c_line_widths 4
nse_cmap binary
nse_c_linestyles solid
particle_overlay False
particle_color black
particle_size 0.7
shock_contour_enabled False
shock_contour_line_widths 4
shock_contour_cmap binary_r
shock_contour_style solid
