//A settings file containing all the possible parameters and their defaults
cmap hot_desaturated
background_color white
text_color black
cbar_scale lin
cbar_domain_min 'auto'
cbar_domain_max 'auto'
cbar_enabled True
cbar_location right
cbar_width 5.0
title AttributeName
image_name AttributeName
title_enabled True
title_font
title_font_size 18
label_font_size 
smooth_zones False
image_format png
image_size [1280,710]
x_range_km 'auto'
y_range_km 'auto'
x_range_label X (10^3 km)
y_range_label Y (10^3 km)
time_format seconds
bounce_time_enabled 
ctime_enabled True
elapsed_time_enabled True
zoom_value
var_unit 'auto'
shock_enabled False 				//Enables a line depicting the location of the primary shock
shock_linestyle solid 				//Customizes the line style of the shock radius line
legend_enabled False 				//Enables a legend pertaining to the shock radius
nse_c_contour False 				//Enables a contour plot displaying the nse_c boundary
shock_line_width 7 					//Customizes the thickness of the shock radius line
shock_line_color black 				//Customizes the color used for the shock radius line
nse_c_line_widths 4					//Customizes the line widths of the nse_c contour plot
nse_cmap binary 					//Customizes the color map used for the nse_c contour plot
nse_c_linestyles solid 				//Customizes the line styles of the nse_c contour plot (solid, dashed, etc.)
particle_overlay False				//Enables a scatter plot of tracer particles to be overlain on the main plot
particle_color black				//Customizes the color of the overlain particles
particle_size 0.7					//Customizes the size of the overlain particles
shock_contour_enabled False 		//Enables a contour plot, denoting the presence of shocks
shock_contour_line_widths 4 		//Customizes the thickness of the lines of the shock contour
shock_contour_cmap binary_r			//Customizes the color map used for the shock contour plot
settings.shock_contour_style solid 	//Customizes the line style of the shock contour